{
    "PORT" : "{{ service_faq_assistant_port }},
    "SWAGGER_URL" : "/swagger",
    "API_URL" : "/swagger.json",
    "SWAGGER_CONFIG" : {
        "openapi": "3.0.2",
        "version": "1.0",
        "title": "FAQ Assistant",
        "description": "FAQ Assistant backend service",
        "uiversion": 3,
        "specs_route": "/swagger.json"
    },
    "cassandra_host" : ["{{groups['cassandra']|join('\"'', ''\"') + '\"'}}],
    "faq_clicks_keyspace" : "faq_clicks",
    "druid_host" : "{{ druid_host }}"
    "job_time_interval_seconds" : {{ faq_time_interval }}
}

