{
    "portalURL": "{{ domain_name }}/",
    "loginPageRedirection": false,
    "learners": "147705",
    "registeredKarmayogies": "617",
    "courses": "282",
    "availableContent": "40156",
    "courseViews": "4166",
    "minutesSpent": "1200000",
    "contentBucket": "assets/public",
    "certImage": "assets/certimage/content"
}
