{
    "portalURL": "https://{{ domain_name }}/",
    "loginPageRedirection": false,
    "karmayogiOnboarded": "147705",
    "registeredMdo": "617",
    "courses": "282",
    "availableContent": "40156",
    "courseEnrollments": "4166",
    "activeUsers": "1200000",
    "contentBucket": "assets/public",
    "certImage": "assets/certimage/content"
}
