{
    "portalURL": "https://{{ domain_name }}/",
    "loginPageRedirection": false,
    "karmayogiOnboarded": "147705",
    "registeredMdo": "617",
    "courses": "282",
    "availableContent": "40156",
    "courseEnrollments": "4166",
    "activeUsers": "1200000",
    "contentBucket": "assets/public",
    "certImage": "assets/certimage/content",
    "updateData" : [
        {
            "english" : [
                {
                    "updateTitle": "recent update 1",
                    "updateUrl" : "https://media.geeksforgeeks.org/wp-content/cdn-uploads/20210101201653/PDF.pdf"
                },
                {
                    "updateTitle": "recent update 2",
                    "updateUrl" : "https://images.unsplash.com/photo-1610484826967-09c5720778c7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                },
                {
                    "updateTitle": "recent update for html file",
                    "updateUrl" : "index.html"
                },
                {
                    "updateTitle": "recent update with txt file",
                    "updateUrl" : "docs/git-doc.txt"
                }
            ]
        },
        {
            "hindi" : [
                {
                    "updateTitle": "हाल के अद्यतन 1",
                    "updateUrl" : "https://media.geeksforgeeks.org/wp-content/cdn-uploads/20210101201653/PDF.pdf"
                },
                {
                    "updateTitle": "हाल के अद्यतन 2",
                    "updateUrl" : "https://images.unsplash.com/photo-1610484826967-09c5720778c7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                },
                {
                    "updateTitle": "हाल के अद्यतन for html file",
                    "updateUrl" : "index.html"
                },
                {
                    "updateTitle": "हाल के अद्यतन with txt file",
                    "updateUrl" : "docs/git-doc.txt"
                }
            ]
        }
    ] 
}
