ES_EXTERNAL_SERVICE_HOST={{ elasticsearch_host }}
ES_EXTERNAL_SERVICE_PORT={{ elasticsearch_http_port }}
ES_EXTERNAL_SERVICE_PASSWORD={{ elasticsearch_password }}
ES_EXTERNAL_SERVICE_USERNAME={{ elasticsearch_username }}
KAFKA_EXTERNAL_SERVICE_HOST={{ kafka_host }}
KAFKA_EXTERNAL_SERVICE_PORT={{ kafka_port }}
KAFKA_TOPIC_PRODUCE_FEEDBACK={{env}}-user-feedback
