REDIS_HOST={{ app_vega_router_redis_host }}
REDIS_PORT={{ app_vega_router_redis_port }}
REDIS_EXTERNAL_SERVICE_HOST={{ app_vega_router_redis_host }}
REDIS_EXTERNAL_SERVICE_PORT={ app_vega_router_redis_port }}
