REDIS_HOST={{ app_vega_router_redis_host }}
REDIS_PORT={{ app_vega_router_redis_port }}
REDIS_EXTERNAL_SERVICE_HOST={{ app_vega_router_redis_host }}
REDIS_EXTERNAL_SERVICE_PORT={{ app_vega_router_redis_port }}
bearer_token={{bearer_token}}
spv_domain_name={{spv_domain_name}}
portal_domain_name={{portal_domain_name}}
frac_domain_name={{frac_domain_name}}
